* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: white;
}
header {
    width: 100%;
    height: 70px;
    background-color: #002D62;
}
header h2 {
    text-align: center;
    color: white;
    font-weight: 200;
    padding: 10px 0px 20px 10px;
}
.favoritos-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}
.favoritos-container button {
    background-color: #002D62;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.section-with {
    position: relative;
    width: calc(100% - 60px);
    height: 650px;
    background-color: #f0f0f0;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
}



.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 80px;
    margin-top: 30px;
    margin-left: 10px;
}
.button-container {
    position: sticky;
    bottom: 20px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

/* //modal */
.modal-content {
    margin-top: 60px;
    width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-top: 30px;
}

label {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 5px;
}
.card {
    border: 1px solid #ccc;
    width: 300px;
    height: 400px;
    background-color: #ccc;
    overflow: hidden;
}
.img-container {
    position: relative;
}
.main-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.heart-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: auto;
    cursor: pointer;
}
.red-heart {
    filter: invert(10%) sepia(90%) saturate(2000%) hue-rotate(330deg) brightness(100%) contrast(100%);
}
.card img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.card .card-title {
    background-color: #ccc;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}
.card-title h1 {
    font-size: 1.0rem;
    font-weight: bold;
}
.titulo-card:hover {
    cursor: pointer;
    text-decoration: underline;
}